<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./register.component.css">
    <link href="https://fonts.googleapis.com/css2?family=Long+Cang&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rakkas&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="register.component.css">
    <title>sign up page </title>
</head>
<body>
    <section class="section1">
        <div class="photo">
            
            <img src="assets/images/Welcome-amico.png" alt="Welcome-amico">
       
        </div>
    
        <div class="loginForm">
           <h3 class="title">Create account</h3><br>
        <form class="formulaire">
            <div class="div1">
            <label>First name</label><br>
            <input  type="text" placeholder="Ichrak" ><br>
            <label for=""> Email</label><br>
            <input type="email" placeholder="example@gmail.com"><br>
            <label>Password</label><br>
            <input type="password" placeholder="********"><br>
            <input type="checkbox"><label>Remember me </label><br>
            <input type="checkbox"><label>I agree to all the Terms and Privacy policy </label>

        </div>
        <div class="div2">
            <label>Last name</label><br>
            <input  type="text"placeholder="Dhahri" ><br>
            <label for="">Date of birth (MM/DD/YY)</label><br>
            <input type="date"><br>
            <label>Confirm password</label><br>
            <input type="password" placeholder="*********"><br>

        </div>
    </form>
        <button type="submit" class=" btn btn-primary  mx-auto p-2">Create account</button><br>


          
       
        </div>
    </section>
    
</body>
</html>